body{
    background-image: linear-gradient(to right ,#5de0e6 ,#004aad);
}

header{
    position: fixed;
    left: 1100.8px;
    top: 20px;
    font-family: Poppins;
    z-index: 1;

}
.home{
     position: relative;
     right: 20px;
     font-family: Poppins;
     color: #fff;
     font: size 15px; 
     text-decoration: none;
    
}
.con{
    position: relative;
    left: 5px;
    font-family: Poppins;
    color: #fff;
    font: size 15px;
    text-decoration: none;
}
.about{
    position: relative;
    left: 15px;
    font-family: Poppins;
    color: #fff;
    font: size 15px;
    text-decoration: none;
}
.cl12{
    position: fixed;
    top: 5px;
    z-index: 1;

}
#id2{
    position: relative;
    left: 600px;
    top: -210px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
.username{
    position: relative;
    top: -30px;
    left: 40px;
}
.userPname{
    position: relative;
    top: -30px;
    left: 50px;
}
.Email{
    position: relative;
    top: 75px;
    left: -600px;
}
.mdp{
    position: relative;
    top: 130px;
    left: 38px;
}
.cmdp{
    position: relative;
    top: 230px;
    left: -635px;
}
#userPname{
    position: relative;
    left: -30px;
}

#Email{
    position: relative;
    top: 115px;
    left: -645px;
}
#mdp{
    position: relative;
    top: 172px;
    left: -70px;
}
#cmdp{
    position: relative;
    top: 232px;
    left: 40px;
}
#inscrire{
    position: relative;
    top:350px ;
    left:-535px ;
}
#Annuler{
    position: relative;
    top: 350px;
    left: -348px;
}
.cl6{
    width: 191px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 54px;
}
.cl7{
    position: relative;
    left: 185px;
    width: 191px;
    height: 45px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    font-size: 17px;
    border-radius: 54px;
}
h1{
    font-size: 50px;
    font-family: Alfa Slab One;
    position: relative;
    top: 120px;
    color: #f3d64c;
}
h2{
    font-size: 40px;
    font-family: Alfa Slab One;
    position: relative;
    top: 85px; 
    color: #fff;

}
h3{
    position: fixed;
    top: -10px;
    left: 70px;
    font-size: 25.1px;
    font-family: Alfa Slab One;
    color: #fff;
    z-index: 1;
}
p{
    font-size: 16px;
    position: relative;
    top: 70px;
    left: 50px;
    font-family: Poppins;
    color: #fff;
}
input{
    height: 35px;
font-family: Poppins;
    position: relative;
    top: 10px;
    color: #004aad;
}
.cl1{
    width: 252px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl2{
    width: 252px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl3{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl4{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl5{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl8{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: 170px;
    left: 20px;
}
.cl9{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: 200px;
    left: 20px;
}
.cl10{
    position: relative;
    top: 10px;
}
.cl11{
    position: relative;
    top: 10px;
}
#error1{
    position: relative;
    top: 44px;
    left: -255px;
}