
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    /* background-image: linear-gradient(to right,#5de0e6 ,#004aad); */
    background-image: linear-gradient(to right,#393bcf ,#051f42);
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box; 
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    overflow-y: hidden;
}
h1, h2, h3, h4, p {
    color:#fff;
    font-family: 'Alfa Slab One', sans-serif;
      
}
h2{
    top: 5px;
    font-size: 25px;
    margin-top: 10px;   
    position: relative;
    left: 55px;
}
h1{

    text-align: center;
    font-size: 70px;
    width: 90%;
}
h3{
    margin: 10px;
    text-align: left;
    font-size: 50px;
    color: #f3d64c;

}
h4{
    margin: 10px;
    font-size: 2rem;

}
.menu{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 15px;
       
    
}
form {
    margin: 25px;
    width: 400px;
    padding: 13px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
  }
  #myform{
    margin-top: -20px;
  }
  .cl8{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: -15px;
    left: 25px;
  }
  .cl9{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: -20px;
    left: 25px;
  }
  .cl10{
    position: relative;
    top: 15px;
  }
  .cl11{
    position: relative;
    top: 15px;
  }
  .cl12{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: 130px;
    left: 15px;
  }
  
  .cl13{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    top: 120px;
    left: 15px;
  }

  input {
  font: 2em ,sans-serif;
  width: 450px;
  box-sizing: border-box;
  border: 1px solid #f2f6f8;
  vertical-align: top;
  font-family: Poppins;
  border-radius: 5px;
  padding: 5px;
  color: #004aad;
}
input::placeholder {
    font-size: 0.6em;
}
input[type="text"] {
    width: 640px;
       height: 45px;
    padding: 10px;
    font-size: 15px;
    border-radius: 13px;
    opacity:0.8;
    color: #004aad;
    transition: border-color 0.3s;

}
select{
    width: 640PX;
    height: 45px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 13px;
    opacity: 0.80;
    margin-top: 20px;
}
#genre{
    font-family: Poppins;
    color: #004aad;
}
.boutton{
   background-color:#f3d64c;
   border: none;
   color: #004aad;
   padding:18px;
   text-align: center;
   text-decoration: none;
   font-size: 20px;
   margin: 1px 170px;
   border-radius: 4rem;
   float: right;
   background-position:center ;
   margin-top: -400px;
   width: 15%;
   font-family: Alfa Slab One;
}
p{
    float: right;
    line-height: 1.5;
    padding: 10px;
    margin-top: -280px;
    text-align: center;
    font-size: 20px;
    font-family: Poppins;
    color: #fff;
    margin-right: 30px;
  
}
.cl1{
    position: fixed;
    top: 10px;
    z-index: 1;
}
.Inscription2 {
    background-color: #f3d64c;
    border: none;
    color: blue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
    float:right;
    background-position: center;
    width: 8%;
    line-height: 0.5;
    font-family: 'Alfa Slab One', sans-serif;
}
.cl6{
width: 191px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 54px;
     
}
#inscrire{
    margin: 1px 35px;
    margin-left: 1000px;
    position: relative;
    top: -180px;

 
}
#connexion {
    position: relative;
    top: -225px; 
    margin-left: 1250px;
}
.Inscription2{
    font-size: 18px;
    margin: 1px -410px;
    margin-top: 320px;
}
.insuffisance {
    color: blue;
}
.normal {
    color: green;
}
.surpoids {
    color: orange;
}
.obesite {
    color: red;
}

img{
    margin: 0px;
    padding: 5px;
}
nav{
    margin:1px 2px;
    background-position:center;
    color: #fff;
    line-height: 1.5;
    padding: 5px;
    margin-top: -15px;
    font-family: popins;
    text-align: center;
    font-size: 25px;
    position:center;
    font-family: Poppins;
    
}

navbar{
    padding: 5px;
   text-decoration: none;
   text-align: center;
   display: inline-block;
   font-size: 25px;
   margin: 15px 90px;
   float:right;
   color: #fff;
   margin-top: -5px;
   top: 50px;
   border-radius: 2rem;
   font-family: Poppins;
}
.cadre {
    border: 2px solid rgb(30, 26, 231);
    padding: 25px;
    width: fit-content;
    height: 200px;
    line-height: 1.5;
    background-color:  rgba(0, 0, 0, 0.592);
    font-size: 0.8rem;
  }
  bdo{
    position: absolute;
    right: 500px;
    top:100px;
    visibility: visible;
    transform: translate(350px,350px);
    font-size: 16px;
    font-family: poppins;
    margin-top: 10px;
  }
  em{
    color: #f3d64c;
    float: right;
    transform: translate(420px,370px);
    margin-top: 5px;
    margin-left: 50px ;
  }
  label {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    margin-bottom: 2px;
    position: relative;
    top: 00px;

  }
  span{
    color:#f3d64c;
    font-family :popins;
  }
  i{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }

  section label{
    display: block;
  }
  #logo {
    max-width: 40px;
    margin-top: 50px;
}
body {
    font-family: 'Roboto',sans-serif;
    background-color:  #f4f4f4;
    color:#333;
    margin: 0;
    padding: 0;
}
#se{
font-size: 20px;
font-family:Poppins;
margin-left: 500px;
margin-top: -150px;

}

.container {
    width: 55%;
    overflow-x: auto;
    height: auto;
    max-height: 500px;
    margin: 10px auto;
    /* background: #000000a5; */
    padding: 5px;
    border-radius: 15px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103); */
    text-align: center;
    margin-left: 4%;
    font-family: Poppins;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    background-color: #0909099a;
    /* background-color: #102e34c0; */
    margin-top: -150px;
}
.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background: #12293e;
}

.container::-webkit-scrollbar-thumb {
    
   
background: #888;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #f3f2f2;
}

.container {
    

scrollbar-width: thin;
scrollbar-color: #888;
}
.f1{
    text-align: left;
    color: rgba(236, 230, 230, 0.169);
    margin-bottom: 15px;
    padding-bottom: 10px;
    max-width: fit-content;
    font-size: 24px;
    font-family: popins;
}

.table {
    width:100%;
    border-collapse: collapse;
    margin-left: 65px;
    margin-right: 20px;
    max-width: 650px;
    border-spacing: 20px;
    height: 400px;
    table-layout: fixed;
    /* border-top: 2px solid #fff; */
    
}
.table tbody tr td.date-yellow {
    color: #f1cd19a0;
    padding: 2px 5px;
    border-radius: 3px;
}


.table th, .table td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    white-space: nowrap; 
    word-wrap: break-word;
}

.table thead th {
    color: #c9d1d9;
    font-size: 18px;
    font-weight: bold;
}

.table tbody tr {
    transition: background-color 0.3s;
    border-bottom: 2px solid #ddd;
}

.table tbody tr:hover {
    background-color: #27496d;
}

.table tbody tr td {
    color: #c9d1d9;
}

.table tbody tr td:first-child {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.table tbody tr td:last-child {
    text-align: center;
    border-bottom: 1px solid #fff;
    width: 50px;
}

.icon1{
    margin-left: 40px;
    margin-bottom: 9px;
}
.icon1, .icon2 {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: -60px;
    position: relative;
    filter: grayscale(100%) brightness(0.5);
    
}
.icon1 i, .icon2 i {
    font-size: 18px;
    color: rgba(161, 159, 159, 0.892);
}

.icon1 img, .icon2 img {
    width: 100%;
    height: 100%;
    /* color: rgba(161, 159, 159, 0.892); */
    filter: grayscale(100%) brightness(0.5);
}

.icon-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table tbody tr td.icon-cell {
    border-bottom: none;
}

.add-icon {
    position: absolute;
    right: 20px;
    top: -20px;
}
.table td {
    padding: 10px;
    text-align: center; 
    white-space: nowrap; 
    width: auto;
    border-bottom: 1px solid #fff;
    
   
padding: 10px;
}

.table .icon-cell {
    width: 80px;
}

.add-icon img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.f1 {
    color: #c9d1d9;
    padding: 10px;
}

.table tbody tr td.imc {
    padding: 3px;
    border-radius: 20px;
    background-color: #c9d1d9;
    color: #1c3a57;
    text-align: center;
}

.table tbody tr td span.sous-poids {
    background-color: lightblue;
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
}

.table tbody tr td span.normal {
    background-color: #19e119;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
}

.table tbody tr td span.surpoids {
    background-color: #e3962a;
    padding: 3px 5px;
    color: white;
    border-radius: 3px;
}

.table tbody tr td span.obesite {
    background-color: #eb5d56;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
}
.table tbody tr td span.extreme-obesite {
background-color: #eb0f0f;
padding: 3px 5px;
border-radius: 3px;
color: white;
}
.search-container {
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 300px;
font-size: 10px;
}
.valider-container{
 align-items: center;
justify-content: flex-start;
}
input[type="text"][name="search"] {
border: none;
font: 2em sans-serif;
box-sizing: border-box;
height: 40px;
width: 60%;
padding: 5px 10px;
border-radius: 5px;
background-color: #e0e7ef;
outline: none;
margin-left: 200px;
margin-top:-20px ;
font-size: 15px;
/* font-size: 5px; */
}
input[type="submit"] {
height: 40px;
font: 2em sans-serif;
visibility: visible;
border: none;
cursor: pointer;
background-color: #f3d64c;
margin-top: -43px;
margin-left: 445px;
width: auto;
padding: 5px 50px;
border-radius: 5px;
font-size: 15px;
color: #1f16a1 ;
vertical-align: 100px;
 /* align-content: center; */   
    }
 .icon{
    position: relative;
    top: -40px;
    left: 85px;
 }
 .s4{
    visibility: visible;
    margin-top: -30px;
    margin-right: 150px;
    font-size: 13px;
 }
.graph{
    margin-top: -400px;
    margin-right: 250px;
    color: #f3d64c;
    font-size: 24px;
}
.graph-container, #linechart {
    width: 80%;
    max-width: 570px;
    height: 450px;
    border-radius: 15px;
    margin-top: -460px;
    margin-left: 61%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.605);
    background-color: #0909097d;
    /* background-color: #12293e; */
}
.container2 {
    max-width: 500px;
    max-height: 650px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.605);
    background-color: #0909098a;
    margin-top: -150px;
}
h2 {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin: 2px 0 4px;
}
form input {
    width: 100%;
    margin-bottom: 3px;
 padding: 15px;
 font-size: px;
 border-radius: 15px;
 opacity:0.8;
 color:blue;
}
form button {
    padding: 10px 20px;
    background-color: #f3d74cd2;
    color: blue;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    cursor: pointer;
    font-size: 15px;
    max-width: 180px;
}
input[type="text1"],input[type="date"] {
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.submit{
    background-color: #0e0e0c;
    font-family: Poppins;
}
.search-bar {
    position: relative;
    z-index: 5;
    margin-top: -150px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.profile-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    top: -110px;
    right: 10px;
}
.profile-icon {
    font-size: 60px;
    cursor: pointer;
    margin-left: 1380px;
    top: -400px;
}
.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    min-width: 70px;
    max-width: 300px;
    z-index: 1000;
    display: none;
    
}

.dropdown-menu li {
    list-style-type: none;
    padding: 5px 10px;
}

.dropdown-menu li a {
display: block;
padding: 5px 5px;
text-decoration: none;
color: #333;
font-size: 16px;
font-weight: bold;
transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #141414a0;
}
.form-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px; 
}

.cancel-btn {
    /* color: white; */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 200px;
    margin-top: -42px;
}

.submit-btn {
    color: #004aad;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
#c{
    font-size: 25px;
font-family:Poppins;
margin-left: 550px;
margin-top: -50px;
}
.c1{
    visibility: visible;
    margin-top: -30px;
    margin-right: 150px;
    font-size: 13px;
}
#p1{
font-size: 15px;
margin-left: 90px;
}
#p2{
    font-size: 15px;
margin-left: 75px;

}
 #pp{
margin-right: 80%;
margin-top: 70px;
}#pp1{
margin-right: 65%;
margin-top: -50px;
}
#pp3{
margin-right: 80%;
margin-top: 15px;
}
#pp4{
margin-right: 65%;
margin-top: -50px;
}
.cnt{
display: block;
margin-top: -100px;
}
#emailError {
color: red;
font-size: 10px;
margin-top: 20px;
margin-left: 30px;
}
.desc {
text-align: left;
padding-inline: 12px;
color: white;
}
        
.desc h3 {
font-size: 2.5em;
color:  #f3d64c;
position: absolute;
font-size: 40px;
font-weight: 800;
max-width: 48%;
} 
.desc h4 {
font-size: 1.5em;
position: absolute;
top: 30%;
color: #FFFFFF;
font-size: 28px;
font-weight: 800;
max-width: 48%;
}
.desc p{
position: absolute;
top: 35%;
margin-top: 15px;
font-size: 15px;
font-weight: 800;
max-width: 50%;
}
        
.mainContainer{
grid-area: main;
background-color: white;
}
            
.headerContainer{
padding-inline: 15px;
}
.btn {
 display: flex;
}       
.bntNavbar{
                 
position: relative;
width: 191px;
left: 201px;
color: #004aad;
background-color: #f3d64c;
font-family: Alfa Slab One;
height: 45px;
font-size: 17px;
border-radius: 54px;
margin-top: -43px;
}
.bntNavbar1{
                 
    position: relative;
    width: 191px;
    left: 201px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 54px;
    margin-top: -23px;
    margin-left: -150px;
    }
    .bntNavbar2{
                 
        position: relative;
        width: 191px;
        left: 201px;
        color: #004aad;
        background-color: #f3d64c;
        font-family: Alfa Slab One;
        height: 45px;
        font-size: 17px;
        border-radius: 54px;
        margin-top: -43px;
        margin-left: 20px;
        }
.bntNavbarss{    
width: 191px;
color: #004aad;
background-color: #f3d64c;
font-family: Alfa Slab One;
height: 45px;
font-size: 17px;
border-radius: 54px;
margin-left: 75%;
position: relative;
top: 20px;
}
.bntNavbars{    
    width: 191px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 54px;
    margin-left: 85%;
    }
.forget-pass {
margin-top: 18px;
margin-left: 220px;
margin-top: -10px;
}
.forget-pass a{
color: #f3d64c;
font-style: italic;
margin-top: 100;
}
ul{
display: flex;
}
li{
margin: 0 16px;
list-style-type: none;
}
.linkNavbar{
text-decoration: none;
color: black;
font-size: 18px;
                 
}
ul{
display: flex;
}
li{
margin: 0 16px;
list-style-type: none;
}
.linkNavbar{
text-decoration: none;
color: #000000;
font-size: 18px;
}
.bntNavbar, .linkNavbar{
font-size: 20px;
font-weight: 500;
}
.login-form {
    padding: 20px;
border-radius: 10px;
font-size: 18px;
border-radius: 10px;
position: absolute;
top: 18%;
right: 100px;
font-weight: 800;
max-width: 58%;
box-shadow: #fff;
border: 1px solid black;
}
section label {
display: block;
color: white;       
}
section input {
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
width: 560px;
font-size: 17px;
opacity: 0.80;
border-radius: 13px;
}
.desc{
width: 50%;
margin-inline: 20px;
}
main {
margin-top: 100px;
display: flex;
}
#emailForm [type="submit"]{
margin-top: 80px;
color: #004aad;
background-color: #f3d64c;
font-family: Alfa Slab One;
height: 45px;
font-size: 17px;
border-radius: 54px;
}
#emailForm1 [type="submit"]{
    margin-top: 20px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 64px;
    }
    mark {
        background-color: yellow;
        font-weight: bold;
    }
    .highlight {
        background-color: yellow; /* ou une autre couleur de votre choix */
        font-weight: bold;
    }
    /* #error-message {
        color: red;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        border: 1px solid red;
        border-radius: 5px;
        background-color: #ffe6e6;
    } */
    
    
    








