body{
    background-image: linear-gradient(to right ,#5de0e6 ,#004aad);
}

header{
    position: fixed;
    left: 1100.8px;
    top: 20px;
    font-family: Poppins;

}
.home{
     position: relative;
     right: 20px;
     font-family: Poppins;
     color: #fff;
     font: size 15px; 
     text-decoration: none;
    
}
.con{
    position: relative;
    left: 5px;
    font-family: Poppins;
    color: #fff;
    font: size 15px;
    text-decoration: none;
}
.about{
    position: relative;
    left: 15px;
    font-family: Poppins;
    color: #fff;
    font: size 15px;
    text-decoration: none;
}
#id2{
    position: relative;
    left: 640px;
    top: -230px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
#id3{
    position: relative;
    left: 947.1px;
    top: -295px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
#id4{
    position: relative;
    left: 640px;
    top: -262px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
#id5{
    position: relative;
    left: 640px;
    top: -232px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
#id6{
    position: relative;
    left: 640px;
    top: -202px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
}
#id7{
    position: relative;
    left: 640px;
    top: -172px;
    font-size: 16px;
    color: #fff;
}
h1{
    font-size: 50px;
    font-family: Alfa Slab One;
    position: relative;
    top: 120px;
    color: #f3d64c;
}
h2{
    font-size: 40px;
    font-family: Alfa Slab One;
    position: relative;
    top: 85px; 
    color: #fff;

}
h3{
    position: fixed;
    top: -15px;
    font-size: 25.1px;
    font-family: Alfa Slab One;
    color: #fff;
}
p{
    font-size: 16px;
    position: relative;
    top: 70px;
    left: 50px;
    font-family: Poppins;
    color: #fff;
}
input{
    height: 35px;
font-family: Poppins;
    position: relative;
    top: 10px;
    color: #004aad;
}
.cl1{
    width: 252px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl2{
    width: 252px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl3{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl4{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl5{
    width: 560px;
    font-size: 17px;
    opacity: 0.80;
    border-radius: 13px;
}
.cl6{
    width: 191px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    height: 45px;
    font-size: 17px;
    border-radius: 54px;
}
.cl7{
    position: relative;
    left: 185px;
    width: 191px;
    height: 45px;
    color: #004aad;
    background-color: #f3d64c;
    font-family: Alfa Slab One;
    font-size: 17px;
    border-radius: 54px;
}
